<!DOCTYPE html>
<html lang="en" ng-app="TwitterWallApp">
    <head>
        <meta charset="utf-8">
        <title>TWITTER WALL</title>
        
        <!-- ANGULAR -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="css/main.css">
        
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- APP -->
        <script src="js/app.js"></script>

        <!-- CONTROLLERS -->
        <script src="js/controllers/MainController.js"></script>
    </head>
    <body ng-controller="MainController">
    <h1> This is our app. </h1>
    <md-content class="container">
        <md-whiteframe class="md-whiteframe-13dp element" ng-repeat="tweet in tweets track by $index">
            <md-list flex>
                <md-list-item class="md-3-line">
                    <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                    	<h3>
                            <b>{{tweet.user.name}}</b>
                            <div class="info margin">@{{tweet.user.screen_name}}</div>
                            <div class="info margin"> * {{tweet.created_at}}</div>
                        </h3>
                        <div style="word-wrap: break-word">
                            <div class="margin">{{tweet.text}}</div>
                            <div ng-if="tweet.entities.media!==undefined" class="tweet-media-container">
                                <img src="{{tweet.entities.media[0].media_url}}" class="tweet-media" />
                            </div>
                        </div>
                        <div>
                            <div class="info margin"><i class="material-icons md-18">favorite</i> {{tweet.favorite_count}} </div>
                            <div class="info margin"><i class="material-icons md-18">cached</i> {{tweet.retweet_count}} </div>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-whiteframe>
    </md-content>
    </body>
</html>
