$gray-bck: #e6e1e1;
$primary: #35C2F8;

html::-webkit-scrollbar {
  display: none; }

 md-tab-content {
   background-color: $primary;
 }

 md-tabs .md-tab.md-active {
   color: black;
 }

.container {
  background-color: $primary;
  height: 100%; }

.logo-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center; }

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  width: 100%;
  height: 100%; }

.login-button {
  color: black;
  border: 2px solid black;
}

.error-message {
	text-align: center;
}

.admin-container-inside {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.md-menu {
  border-bottom: 3px solid transparent;
  transition: 1s;
}

.md-menu:hover {
  border-bottom: 3px solid black;
  transition: 1s;
}

md-menu-bar {
  width: 100%;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.tabs-wrapper {
  position: relative;
  height: 100%; }

.full-size {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.swipey {
  display: flex;
  overflow: hidden; }

admin-label {
  font-size: 4vw; }

.search-box {
  font-size: 4vw; }

md-input-container .md-errors-spacer {
    min-height: 0;
}

md-input-container {
	margin : 5px 0;
}

.show-more-btn-container {
  text-align: center;
  background-color: white;
}

/* typing animation */
$chars: 13; /* number of characters*/
$char-time: 0.3; /* how long to type each character in seconds*/
$blinks: 4; /* number of times to blink after typing ends */
$wait: 900; /* how long to wait between iterations of animation in seconds*/

$text-size: 0.6 * $chars; /* size of text in ems*/
$steps: ($chars + $blinks) * 2; /* number of steps in animation*/
$typing-steps: $chars*2; /* number of steps in typing part of animation*/
$anim-time: $steps * $char-time; /* time animating in seconds*/
$p: ($anim-time * 100) / ($anim-time + $wait); /* percentage of time animating*/
$step-time: $p / $steps; /* percentage of time per step of animation */
$char-size: $text-size/$chars; /* size of single character in ems*/ 

@keyframes typing {
  0% { 
    border-color: transparent;
    width: 0em;
    }
  @for $i from 1 to $steps + 1 {
    @if $i % 2 == 0 { 
      @if $i < $typing-steps + 1 {
        #{$i*$step-time}% {
          border-color: transparent;
          width: ($i/2)*$char-size + 0em;
        }
      }
      @else {
        #{$i*$step-time}% {
          border-color: transparent;
        }
      }
    }
    @else {
      #{$i*$step-time}% {
        border-color: black;
      } 
    }
  }
  100% {
    border-color: transparent;
    width: $text-size + 0em;
       }
}

.typing-anim { 
    width: $text-size + 0em;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-family: "Courier";
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid transparent;
    animation: typing $anim-time + $wait + 0s step-end 10s infinite;
}
