html::-webkit-scrollbar { 
  display: none;
}

.container {
	background-color: rgb(104, 183, 252);
	height: 100%;
}

.column-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	width: 33%;
}

.banner-container {
	width: 90%; 
	margin: 30px; 
	background-color: black;
}

.banner {
	margin-left: 1%;
	margin-top:1%;
	width: 95%;
	border-radius: 15px;
}

.logo {
	width: 20vh;
}

.message {
	font-size: 5vh;
	text-align: center;
}

.logo-container {
	margin: 3vh 5vh;
	padding: 0;
	display: flex;
	flex-direction: row;
	height: 20vh
}

.admin-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 100%;
}

.admin-container-inside {
	height:90%; 
	width: 100%; 
	overflow-y: auto; 
	border-top: 2px solid black;
	border-bottom: 2px solid black; 
}

.admin-menu-item {
	height: 100% !important;
}

.admin-menu-button {
	letter-spacing: 3px; 
	font-weight: 800;
}

.md-secondary-container {
	margin-top: 0px !important;
}

.disabled {
	opacity: 0.5;
	transition: 1.5s;
}

.enabled {
	opacity: 1;
	transition: 1.5s;
}

.blocked {
	opacity: 0.5;
}

.retweet-hidden {
	opacity: 0.5;
}

.pinned-button-selected {
	color : #FFC400;
}

.delete-button-selected {
	color : #FF1744;
}

.blocked-button-selected {
	color : #FF1744;
}

.md-menu {
	border-bottom: 3px solid transparent;
	transition: 1s;
	margin: 10px 80px;
}

.md-menu:hover {
	border-bottom: 3px solid black;
	transition: 1s;
	margin: 10px 120px;
}

.tweet-media { 
	max-height: 300px;
	max-width: 50%;
}

b {
	font-weight: 400;
	color: #1b95e0;
}

.fav-icon {
	color:#E81C4F;
}

.retweet-icon {
	color:#19CF86
}

.tweet-container {
	border-radius : 15px;
}

