$writing-style: 18px;
$green-color: #19CF86;
$dark-red-color: #FF1744;
$lighter-red-color: #E81C4F;
$yellow-color: #FFC400;

.tweet-container {
	border-radius : 10px;
}

.header-name {
	font-size: $writing-style; 
	line-height: $writing-style;
}

.header-username {
	line-height: $writing-style
}

.tweet-text {
	color: black;
	text-decoration: none;
}

.tweet-media { 
	max-height: 100%;
	max-width: 60%;
	object-fit: contain;
}

.disabled {
	opacity: 0.5;
}

.enabled {
	opacity: 1;
}

.blocked {
	opacity: 0.5;
}

.retweet-hidden {
	opacity: 0.5;
}

.delete-image-button-container {
	position: absolute; 
	top: 20px; 
	right: 10px;
}

.delete-image-button {
	color: red; 
	background-color: rgba(255,255,255, .5); 
	border-radius: 50%;
}

b {
	font-weight: 400;
	color: #1b95e0;
}

.fav-icon {
	color: $lighter-red-color;
}

.retweet-icon {
	color: $green-color;
}

.pinned-button-selected {
	color : $yellow-color;
}

.delete-button-selected {
	color : $dark-red-color;
}

.blocked-button-selected {
	color : $dark-red-color;
}
