<div ng-show="!loggedIn">
    {{ errorMessage }}
    <a href="{{loginUri}}">Log in</a>
</div>
<md-content class="admin-container" ng-show="loggedIn">
    <ng-include src="'/templates/adminMenu.html'"></ng-include>
    <div class="admin-container-inside">
        <md-whiteframe class="md-whiteframe-13dp admin-tweet-container">
            <h3> {{ motd }} </h3>
            <md-whiteframe class="md-whiteframe-13dp element" ng-class="disabled ? 'disabled' : 'enabled'" ng-repeat="tweet in tweets | orderBy:'-created_at' track by $index">
                <md-list flex>
                    <ng-include src="'/templates/tweet.html'"></ng-include>
                </md-list>
            </md-whiteframe>
        </md-whiteframe>
    </div>
</md-content>
