<md-menu-bar>
    <md-menu>
        <button ng-click="$mdOpenMenu(); getBlockedUsers()" class="admin-menu-button">
            BLOCKED USERS
        </button>
        <md-menu-content>
            <md-menu-item class="md-indent admin-menu-item" ng-repeat="user in blockedUsers">
                <i class="material-icons" style="color: grey; margin-bottom: 5px; width: 40px">person</i>
                <p style="margin: 0px">{{user.name}} - @{{user.screen_name}}</p>
                <md-button style="margin: 0px; padding: 0px; width: 40px" ng-click="removeBlockedUser(user)"><i class="material-icons" style="margin-bottom: 5px; width: 40px">clear
                </i></md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <button ng-click="$mdOpenMenu()" class="admin-menu-button">
        SPEAKERS
        </button>
        <md-menu-content>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <button ng-click="$mdOpenMenu()" class="admin-menu-button">
        MESSAGE OF THE DAY
        </button>
        <md-menu-content class="admin-menu-item">
            <md-menu-item class="md-indent admin-menu-item">
                <md-button>
                    {{motd}}
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item class="md-indent admin-menu-item">
                <i class="material-icons" style="margin-bottom: 45px; width: 40px">create</i>
                <form ng-submit="setMotd()">
                    <md-input-container>
                        <input ng-model="ctrl.motd" placeholder="Change message" autocomplete="off"></input>
                    </md-input-container>
                </form>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</md-menu-bar>
