<div ng-show="!loggedIn">
    {{ errorMessage }}
    <a href="{{loginUri}}">Log in</a>
</div>
<div layout="row" layout-padding ng-show="loggedIn">
    <div flex="15">
        <div layout="column" layout-padding>
            <h3 class="md-headline">Admin Controls</h3>
            <h4 class="md-subhead">Message of the day:<br>"{{motd}}"</h4>
            <form ng-submit="setMotd()">
                <md-input-container>
                    <label>Change message</label>
                    <input ng-model="ctrl.motd" autocomplete="off"></input>
                </md-input-container>
            </form>
        </div>
    </div>
    <div flex="85" layout="column" layout-padding>
        <md-content style="max-height:900px">
            <md-list flex>
                <md-list-item class="md-3-line" ng-repeat="tweet in tweets">
                    <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-avatar" alt="{{item.who}}" />
                    <div class="md-list-item-text" layout="column">
                        <div>@{{tweet.user.screen_name}}</div>
                        <div ng-bind-html="tweet.text"></div>
                        <div>{{tweet.created_at | date : medium}}</div>
                    </div>
                    <md-button class="md-secondary md-icon-button" ng-click="deleteTweet(tweet.id)">
                        <md-icon><i class="material-icons">clear</i></md-icon>
                    </md-button>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
