<md-button ng-hide="tweet.blocked" class="md-icon-button" ng-click="setDeletedStatus({id: tweet.id_str, status: !tweet.deleted})">
<md-icon ng-class="{'delete-button-selected' : tweet.deleted}"><i class="material-icons">clear</i></md-icon>
</md-button>
<md-button ng-if="tweet.blocked" class="md-icon-button" ng-click="console.log('h');displayBlockedTweet(tweet.id_str)">
<md-icon><i class="material-icons">done</i></md-icon>
</md-button>
<md-button  class="md-icon-button" ng-click="addBlockedUser({name: tweet.user.name, screen_name: tweet.user.screen_name})">
<md-icon><i class="material-icons">do_not_disturb</i></md-icon>
</md-button>
<md-button class="md-icon-button" ng-click="setPinnedStatus({id: tweet.id_str, status: !tweet.pinned})">
<md-icon ng-class="{'pinned-button-selected' : tweet.pinned}"><i class="material-icons">star_rate</i></md-icon>
</md-button>