<md-content
    ng-if="loggedIn && !isMobile" layout="column" layout-fill>
    <ng-include class="admin-container"
    src="'/templates/adminMenu/adminMenu.html'">
    </ng-include>

    <ng-include src="'/templates/adminMenu/columnHeaders.html'">
    </ng-include>
    
    <div class="admin-container-inside">
        <ng-include
        src="'/templates/clientTweetWall.html'"
        ng-controller="MainController">
        </ng-include>
    </div>
</md-content>

<div ng-if="loggedIn && isMobile" flex>
    <ng-include
    src="'/templates/mobileDash.html'"
    ng-controller="MainController">
    </ng-include>
</div>

<md-content
    ng-if="!loggedIn"
    class="login-container">
    <div layout="column" layout-align="center center" layout-padding>
        <h1 class="md-display-1 error-message">
        {{ errorMessage }}
        </h1>
        <md-button ng-href="{{loginUri}}" class="login-button">
            Log in
        </md-button>
    </div>
</md-content>