<md-content class="container">
    <h3> {{ motd }} </h3>
    <md-whiteframe class="md-whiteframe-13dp element" ng-repeat="tweet in tweets track by $index">
        <md-list flex>
            <md-list-item class="md-3-line">
                <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-avatar" alt="{{item.who}}" />
                <div class="md-list-item-text" layout="column">
                	<h3>
                        <div class="info black">{{tweet.user.name}}</div>
                        <div class="info margin">@{{tweet.user.screen_name}}</div>
                        <div class="info margin"><span am-time-ago="tweet.created_at | amParse:'ddd MMM DD HH:mm:ss ZZZZZ yyyy'"></span>
                        </div>
                    </h3>
                    <div style="word-wrap: break-word">
                        <div class="margin" ng-bind-html="tweet.text"></div>
                        <div ng-if="tweet.entities.media[0].media_url_https!==undefined" class="tweet-media-container">
                            <img ng-src="{{tweet.entities.media[0].media_url_https}}" class="tweet-media" />
                        </div>
                    </div>
                    <div>
                        <div class="info margin"><i class="material-icons md-18">favorite</i> {{tweet.favorite_count}} </div>
                        <div class="info margin"><i class="material-icons md-18">cached</i> {{tweet.retweet_count}} </div>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-whiteframe>
</md-content>
