<style> {{tweetSizeStyles}} </style>
<md-content layout="column" class="container" ng-style="{'overflow-y' : (loggedIn ? 'auto' : 'hidden')}">
  <div ng-if="adminView" class="columns-header">
    <div flex class="column-indicator">
      <p class="column-indicator-writing">Pinned</p>
    </div>
    <div flex class="column-indicator">
      <p class="column-indicator-writing">Visitors</p>
    </div>
    <div flex class="column-indicator">
      <p class="column-indicator-writing">Speakers</p>
    </div>
  </div>
  <md-content ng-if="!isMobileClient" layout="row" class="container">
      <ng-include 
      flex 
      src="'/templates/tweetColumn.html'" 
      ng-repeat="displayColumn in displayColumns track by $index" 
      ng-init="colIndex = $index">
      </ng-include>
  </md-content>
  <md-content ng-if="isMobileClient" class= "container">
    <div ng-style="getLogoBoxDimensions()" class="logo-box">
      <img src="../assets/Bristech-Logo.png" ng-style="getLogoDimensions()" />
      <div ng-style="getMessageBoxDimensions()">
        Get involved:</br>
        tweet with </br>
        <div class="typing-anim">#Bristech2016</div>
      </div>
	  </div>
    <div layout="column" layout-align="center center">
        <md-card
            flex
            class="tweet-container"
            ng-style="getTweetDimensions(tweet)"
            ng-include="'/templates/tweet/tweet.html'"
            ng-repeat="tweet in onscreenTweets">
        </md-card>
    </div>
  </md-content>
</md-content>

