<div layout="row-reverse"class="swipey">
    <md-button ng-show="ctrl.swiped[tweet.id_str]" ng-click="setDeletedStatus(tweet.id_str, !tweet.deleted)" class="md-raised md-accent" flex=40>
        Delete
    </md-button>
    <ng-include
    src="'/templates/tweet.html'"
    ng-class="{disabled : tweet.deleted, blocked: tweet.blocked&&!tweet.display, 'retweet-hidden':tweet.hide_retweet}"
    md-swipe-right="onTweetSwiped(tweet, true)"
    md-swipe-left="onTweetSwiped(tweet, false)"
    flex
    ></ng-include>
</div>