<md-secondary-container ng-if="loggedIn">
    <md-button class="md-secondary md-icon-button" ng-click="deleteTweet(tweet.id_str); disabled = true;">
        <md-icon>
            <i class="material-icons">
                clear
            </i>
        </md-icon>
    </md-button>
    <md-button class="md-secondary md-icon-button" ng-click="addBlockedUser(tweet.user.name, tweet.user.screen_name)">
        <md-icon>
            <i class="material-icons">
                do_not_disturb
            </i>
        </md-icon>
    </md-button>
    <md-button class="md-secondary md-icon-button" ng-click="setPinnedStatus(tweet.id_str, !tweet.pinned)">
        <md-icon ng-class="{'pinned-button-selected' : tweet.pinned}">
            <i class="material-icons">
                fiber_pin
            </i>
        </md-icon>
    </md-button>
</md-secondary-container>