<div layout="column">
	<div ng-if="$index===0" ng-style="getLogoBoxDimensions()" class="logo-box">
		<img src="../assets/Bristech-Logo.png" ng-style="getLogoDimensions()" />
		<div ng-style="getMessageBoxDimensions()">
			Get involved:</br> 
			tweet with </br>
			#bristech2016
		</div>
	</div>
	<div layout="column" layout-align="center center">
		<md-card
		unlimited
		flex
		class="tweet tweet-container" 
		ng-style="getTweetDimensions(tweet)"
		ng-include="'/templates/tweet/tweet.html'"
		ng-repeat="tweet in displayColumn track by tweet.id_str | limitTo: getLimit($index)"
		ng-class="{disabled : tweet.deleted, blocked: tweet.blocked&&!tweet.display, 'retweet-hidden':tweet.hide_retweet}">
		</md-card>
	</div>
	<img src="../assets/Bristech-Banner.png" ng-style="getLogoBoxDimensions()" ng-if="$index===2 && secondLogo===1"/>
</div>