<md-card class="tweet-container" ng-style="getTweetDimensions(tweet)">
    <md-card-header>
        <md-card-avatar>
            <img ng-src="{{tweet.user.profile_image_url_https}}" class="md-user-avatar" />
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-headline header-name">
            {{tweet.user.name}}</span>
            <span class="md-subhead header-username">
                @{{tweet.user.screen_name}}
            </span>
        </md-card-header-text>
        <md-card-icon-actions ng-if="loggedIn">
            <ng-include src="'/templates/tweet-admin-controls.html'"></ng-include>
        </md-card-icon-actions>
        <md-card-icon-actions ng-if="!loggedIn && tweet.pinned">
            <md-button class="md-icon-button">
                <md-icon class="pinned-button-selected"><i class="material-icons">star_rate</i></md-icon>
            </md-button>
        </md-card-icon-actions>
    </md-card-header>
    <md-card-content layout="row" layout-padding layout-align="center center" style="flex:1; position: relative;">
        <a 
        ng-bind-html="tweet.displayText" 
        ng-style="getSize(tweet.displayText)" 
        ng-href="http://twitter.com/statuses/{{tweet.id_str}}" 
        class="tweet-text">
        </a>

        <img 
        class="md-media-sm tweet-media" 
        ng-if="showTweetImage(tweet)" 
        ng-src="{{tweet.entities.media[0].media_url_https}}" 
        ng-class="{disabled: 'tweet.hide_image'}" />

        <md-button class="md-icon-button delete-image-button-container" ng-if="showTweetImage(tweet) && loggedIn" ng-click="deletePicture(tweet.id_str)">
            <md-icon ><i class="material-icons delete-image-button">clear</i></md-icon>
        </md-button>
        
    </md-card-content>
    <md-card-footer>
        <div layout="row" layout-align="end center" layout-wrap>
            <div layout="row" layout-align="start center" flex>
                <span class="md-subhead" am-time-ago="tweet.created_at | amParse:'ddd MMM DD HH:mm:ss ZZZZZ yyyy'">
                </span>
            </div>
            <i class="material-icons md-18 fav-icon">favorite</i> &nbsp {{tweet.favorite_count}} &nbsp
            <i class="material-icons md-18 retweet-icon">cached</i> &nbsp {{tweet.retweet_count}}
        </div>
    </md-card-footer>
</md-card>