<md-menu ng-style="setAdminButtonSize()">
    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
        <md-icon><i class="material-icons">more_vert</i></md-icon>
    </md-button>
    <md-menu-content>
        <md-menu-item ng-hide="(tweet.blocked&&!tweet.display)||tweet.deleted">
            <md-button ng-click="setPinnedStatus(tweet.id_str, !tweet.pinned)" ng-attr-title="{{tweet.pinned ? 'Unpin tweet' : 'Pin tweet'}}">
                <md-icon ng-class="{'pinned-button-selected' : tweet.pinned}">
                <i class="material-icons">star_rate</i>
                </md-icon>
                <span ng-if="tweet.pinned">Unpin</span>
                <span ng-if="!tweet.pinned">Pin</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-hide="tweet.blocked&&!tweet.display" >
            <md-button ng-click="setDeletedStatus(tweet.id_str, !tweet.deleted)" ng-attr-title="{{tweet.deleted ? 'Undelete tweet' : 'Delete tweet'}}">
                <md-icon ng-class="{'delete-button-selected' : tweet.deleted}">
                <i class="material-icons">clear</i>
                </md-icon>
                <span ng-if="tweet.deleted">Restore</span>
                <span ng-if="!tweet.deleted">Delete</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-show="tweet.blocked&&!tweet.display" >
            <md-button ng-click="displayBlockedTweet(tweet.id_str)" title="Display tweet">
                <md-icon>
                <i class="material-icons">done</i>
                </md-icon>
                Allow
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="toggleBlocked(tweet.user.name, tweet.user.screen_name, tweet.blocked)"  ng-attr-title="{{tweet.blocked ? 'Unblock this user' : 'Block this user'}}">
                <md-icon ng-class="{'blocked-button-selected' : tweet.blocked}">
                <i class="material-icons">do_not_disturb</i>
                </md-icon>
                <span ng-if="tweet.blocked">Unblock</span>
                <span ng-if="!tweet.blocked">Block</span>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>