<div layout="row" layout-align="end center">

    <div layout="row" layout-align="start center" flex>
        <span 
    	class="md-subhead"
    	am-time-ago="tweet.created_at | amParse:'ddd MMM DD HH:mm:ss ZZZZZ yyyy'">
        </span>
        <span ng-if="tweet.pinned && verySmallScreen()">
            &nbsp(pinned) 
        </span>
    </div>

    <div ng-animate-swap="tweet.favorite_count" class="heart animate-heart">❤</div>
    &nbsp {{tweet.favorite_count}} &nbsp

    <div ng-animate-swap="tweet.retweet_count" class="animate-retweet">
        <i class="material-icons retweet-icon">
            cached
        </i>
    </div>
    &nbsp {{tweet.retweet_count}}
    
</div>