<a 
	ng-bind-html="tweet.displayText" 
	ng-if="!isMobile"
	ng-style="getFontSize(tweet)" 
	ng-href="https://twitter.com/statuses/{{tweet.id_str}}" 
	class="tweet-text">
</a>

<p 
	ng-bind-html="tweet.displayText" 
	ng-if="isMobile"
	ng-style="getFontSize(tweet)" 
	ng-href="https://twitter.com/statuses/{{tweet.id_str}}" 
	class="tweet-text">
</p>

<img 
	class="md-media-sm tweet-media" 
	ng-if="showTweetImage(tweet)" 
	ng-src="{{tweet.entities.media[0].media_url_https}}" 
	ng-class="{disabled: tweet.hide_image}" />

<md-button 
	class="md-icon-button delete-image-button-container" 
	ng-if="showTweetImage(tweet) && loggedIn" 
	ng-click="deletePicture(tweet.id_str)">
	    <md-icon >
	        <i class="material-icons delete-image-button">
	            clear
	        </i>
	    </md-icon>
</md-button>