<md-menu-item>
    <md-button ng-click="logOut()"
    class="md-no-focus">
        Log out
    </md-button>
</md-menu-item>

<md-menu-divider></md-menu-divider>

<md-menu-item>
    <div class="dropdown-menu-item">
        <i class="material-icons">
            add
        </i>
        <form flex ng-submit="addAdmin()">
            <md-input-container>
                <input 
                    ng-model="ctrl.admin" 
                    placeholder="New admin email" 
                    autocomplete="off">
                </input>
            </md-input-container>
        </form>
    </div>
</md-menu-item>

<md-menu-item ng-repeat="admin in admins" >
    <div class="dropdown-menu-item">
        <md-button 
        ng-click="removeAdmin(admin)" 
        class="md-no-focus">
            <i flex class="material-icons">
                clear
            </i>
        </md-button>
        <span flex class="speaker-name">
            {{admin}}
        </span>
    </div>
</md-menu-item>