<md-menu-item>
    <div class="dropdown-menu-item">
        <i class="material-icons">
            add
        </i>
        <form flex ng-submit="addSpeaker()">
            <md-input-container>
                <input 
                    ng-model="ctrl.speaker" 
                    placeholder="New speaker" 
                    autocomplete="off">
                </input>
            </md-input-container>
        </form>
    </div>
</md-menu-item>

<md-menu-divider></md-menu-divider>

<md-menu-item ng-repeat="speaker in speakers">
    <div class="dropdown-menu-item">
        <md-button 
            ng-click="removeSpeaker(speaker)" 
            class="md-no-focus">
                <i flex class="material-icons">
                    clear
                </i>
        </md-button>
        <span flex>
            {{speaker}}
        </span>
    </div>
</md-menu-item>